#form{
	text-align: center;
	margin-top: 150px;
}

#form2{
	text-align: center;
	margin-top: 150px;
}


 .backgroundImage{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -10;
} 

#password {
	text-align: center;
	width: 20%;
	margin: 0  40% ;
	margin-bottom: 20px;
}

#email{
	text-align: center;
	width: 20%;
	margin: 0 40% ;
}

#password2 {
	text-align: center;
	width: 20%;
	margin: 0  40% ;
	margin-bottom: 20px;
}

#email2{
	text-align: center;
	width: 20%;
	margin: 0 40% ;
}


.divclass{
	text-align: center;
}

#heading{
	text-align: center;
}